<launch>
	<param name="/buidling_search_mission" value="2.0"/>
	<param name="/marker_mission" value="3.0"/>

	<node pkg="offboard" type="setmode_node.py" name="setmode_node" required="true" output="screen"/>

	<!--<node pkg="building_search" type="building_search_node" name="building_search_node" required="true" output="screen"/>-->
	<node pkg="building_search" type="building_search_python_node.py" name="building_search_python_node" required="true" output="screen"/>
		<param name="search_height" value="8.0"/>
		<param name="building_search_count" value="15"/>
		<param name="building_stack_count" value="15"/>
		<param name="building_search_radius" value="3"/>
		<param name="building_search_speed" value="0.05"/>

	<!--<node pkg="yolo_cross_detection" type="yolo_node.py" name="yolo_node" output="screen" />
-->
	<node pkg="safety_landing" type="aruco_VIO.py" name="aruco_VIO" output="screen" /> 

	<node pkg="safety_landing" type="PID_control_node.py" name="PID_control_node" output="screen" /> 
	<node pkg="safety_landing" type="RL_control_node.py" name="RL_control_node" output="screen"/>
    <node pkg="offboard" type="path_node.py" name="path_node" required="true" output="screen"/>
    <node pkg="isly" type="isly_path_node.py" name="isly_path_node" required="true" output="screen"/>
	<node pkg="yolo_cross_detection" type="yolo_tf_node.py" name="yolo_tf_node" required="true" output="screen"/>
		<param name="yolo_offset" value="3"/>
		<param name="circular_speed" value="0.2"/>
		<param name="radius" value="7.0"/>
		<param name="yolo_search_count" value="30"/>
		<param name="yolo_stack_count" value="15"/>
		<param name="setpoint_criterion" value="0.3"/>
		<param name="setpoint_count" value="10"/>
		<param name="obstacle_bound" value="1.0"/>

	<node pkg="koreauav_utils" type="cargo_launch.py" name="cargo_launch" required="true" output="screen"/>
		<param name="cargo_offset" value="1.0"/>
</launch>
